body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    margin: 100px auto;
    box-shadow: 0px 0px 10px gray;
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px;
    cursor: pointer;
}

li {
    margin: 10px 0;
    list-style: none;
}
